version: '2'
services:
  mysql:
    container_name: mariadb
    restart: always
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: 'pass' # TODO: Change this
      MARIADB_USER: 'user'
      MARIADB_PASS: 'pass'
    volumes:
      - my-datavolume:/var/lib/mysql
volumes:
  my-datavolume:

    #docker compose up -d
    #docker exec -it mariadb bash
    #mariadb -h 127.0.0.1 -uroot -ppass
